// Don't show the hotkey help at niri startup.
hotkey-overlay {
    skip-at-startup
}

// Allows notification actions and window activation from Noctalia.
debug {
    honor-xdg-activation-with-invalid-serial
}

// Set screenshot path
screenshot-path "~/Pictures/screenshots/%Y-%m-%d %H-%M-%S_screenshot.png"
