@import "macchiato.css";

* {
    border: none;
    border-radius: 0;
}

window#waybar {
    /* font-family: LXGW WenKai Screen; */
    /* font-family: Merriweather; */
    /* font-family: LXGW Neo XiHei Screen; */
    font-family: Rec Mono Casual;
    font-size: 15px;
    /* color: #fbf1c7; */
    /* color: #fdf6e3; */
    color: @text;
    /* background:  rgba(40,40,40,0.9); */
    /* background: #292b2e; */
    /* background: rgba(41, 43, 46, 0.9); */
    background-color: shade(@base, 0.9);
    /* border: 2px solid alpha(@crust, 0.3); */
}

#custom-arch {
    padding: 0 3px;
    border-bottom: 3px solid transparent;
    margin-left: 3px;
}

#workspaces button {
    /* color: #928374; */
    color: #acb1cf;
    padding: 0 3px;
    background: transparent;
    border-bottom: 0px solid transparent;
}

#workspaces button.visible {
    /* color: #fbf1c7; */
    color: #6c71ff;
    /* background: #282828; */
    background: @base;
    border-bottom: 0px solid transparent;
}

#workspaces button.focused {
    /* color: #fbf1c7; */
    color: #6c71ff;
    /* background: #282828; */
    background: @base;
    border-bottom: 0px solid #fbf1c7;
}

#clock {
    padding-right: 5px;
}

#pulseaudio,
#backlight,
#battery,
#cpu,
#memory,
#network,
#bluetooth {
    padding-right: 20px;
    margin: 0;
}

#tray {
    margin-right: 3px;
}

#clock {
    border-right: none;
}

#mode {
    padding: 0 10px 0 10px;
    background: #cc241d;
}

#mpris,
#mpd {
    margin-right: 64px;
}

#window {
    border-right: 20px;
    border-left: 0px;
}

#pulseaudio {
    color: #268bd2;
}

#memory {
    color: #2aa198;
}

#cpu {
    color: #6c71c4;
}

#battery {
    color: #85b900;
}

#battery.good {
    color: #85b900;
}

#battery.warning {
    color: #d8b902;
}

#battery.critical {
    color: #e55265;
}

#disk {
    color: #65bc8d;
}

#network {
    color: #90D6E2;
}

#bluetooth {
    color: #AF5FD7;
}

#backlight {
    color: #25ad69;
}

#mpris,
#mpd {
    color: #5bb1b4;
}

#custom-arch {
    color: #6c71ff;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
